<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/feedback.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>JANADHIKAR || Feedback Page</title>
  </head>
  <body>
    <div class="div">
        <div class="div-2">
          <img
            loading="lazy"
            srcset="
              https://cdn.builder.io/api/v1/image/assets/TEMP/b8dd754cda2957a620e670bf29bd6f714137a0b8bb76ebbd073bb1f190083ffb?apiKey=30447c5731e24690ba2b28b2e2481b13&width=100   100w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/b8dd754cda2957a620e670bf29bd6f714137a0b8bb76ebbd073bb1f190083ffb?apiKey=30447c5731e24690ba2b28b2e2481b13&width=200   200w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/b8dd754cda2957a620e670bf29bd6f714137a0b8bb76ebbd073bb1f190083ffb?apiKey=30447c5731e24690ba2b28b2e2481b13&width=400   400w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/b8dd754cda2957a620e670bf29bd6f714137a0b8bb76ebbd073bb1f190083ffb?apiKey=30447c5731e24690ba2b28b2e2481b13&width=800   800w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/b8dd754cda2957a620e670bf29bd6f714137a0b8bb76ebbd073bb1f190083ffb?apiKey=30447c5731e24690ba2b28b2e2481b13&width=1200 1200w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/b8dd754cda2957a620e670bf29bd6f714137a0b8bb76ebbd073bb1f190083ffb?apiKey=30447c5731e24690ba2b28b2e2481b13&width=1600 1600w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/b8dd754cda2957a620e670bf29bd6f714137a0b8bb76ebbd073bb1f190083ffb?apiKey=30447c5731e24690ba2b28b2e2481b13&width=2000 2000w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/b8dd754cda2957a620e670bf29bd6f714137a0b8bb76ebbd073bb1f190083ffb?apiKey=30447c5731e24690ba2b28b2e2481b13&
            "
            class="img"
          />
          <div class="div-3">
            <div class="div-4"><a href="/">Home</a></div>
            <div class="div-5"><a href="about">About</a></div>

            <div class="div-7"><a href="update">Updates</a></div>
            <div class="div-8"><a href="login">Login/Signup</a></div>
            <a href=""
              ><img
                loading="lazy"
                srcset="
                  https://cdn.builder.io/api/v1/image/assets/TEMP/e2bbd96ad2061cf81d742c703a85996d4a9a36072d57518ef37abc85ad64725c?apiKey=30447c5731e24690ba2b28b2e2481b13&width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/e2bbd96ad2061cf81d742c703a85996d4a9a36072d57518ef37abc85ad64725c?apiKey=30447c5731e24690ba2b28b2e2481b13&width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/e2bbd96ad2061cf81d742c703a85996d4a9a36072d57518ef37abc85ad64725c?apiKey=30447c5731e24690ba2b28b2e2481b13&width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/e2bbd96ad2061cf81d742c703a85996d4a9a36072d57518ef37abc85ad64725c?apiKey=30447c5731e24690ba2b28b2e2481b13&width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/e2bbd96ad2061cf81d742c703a85996d4a9a36072d57518ef37abc85ad64725c?apiKey=30447c5731e24690ba2b28b2e2481b13&width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/e2bbd96ad2061cf81d742c703a85996d4a9a36072d57518ef37abc85ad64725c?apiKey=30447c5731e24690ba2b28b2e2481b13&width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/e2bbd96ad2061cf81d742c703a85996d4a9a36072d57518ef37abc85ad64725c?apiKey=30447c5731e24690ba2b28b2e2481b13&width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets/TEMP/e2bbd96ad2061cf81d742c703a85996d4a9a36072d57518ef37abc85ad64725c?apiKey=30447c5731e24690ba2b28b2e2481b13&
                "
                class="img-2"
              />
            </a>
            <img loading="lazy" src="static/user.png" class="img-3" />
          </div>
        </div>
    <div class="fbTitle">Share Your Feedback</div>
    <div class="fdOuterCont">
      <div class="fdInnerCont">
        <div class="fbInpForm">
          <div class="fbForm">
            <form action="">
              <div class="fbName">
                <label for="name">Full Name</label>
                <br />
                <input type="text" name="name" />
              </div>
              <div class="fbEmail">
                <label for="email">Email</label>
                <br />
                <input type="email" name="email" />
              </div>
              <ol type="1" class="fbList">
                <li>
                  <label for="firstVisit"
                    >Is this first time yo have visited our website?</label
                  ><br />
                  <input type="radio" name="firstVisit" id="" />Yes
                  <input type="radio" name="firstVisit" id="" />No
                </li>
                <li>
                  <label for="fbNeed">Did You finded what you needed?</label
                  ><br />
                  <input type="radio" name="firstVisit" id="" />Yes all of it.
                  <br />
                  <input type="radio" name="firstVisit" id="" />Yes, some of it.
                  <br />
                  <input type="radio" name="firstVisit" id="" />No, none of it.
                </li>
                <li>
                  <label for="">Rating</label><br />
                  <div class="coloredRatting">
                    <span>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </span>
                    <span class="notRated">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </span>
                  </div>
                </li>

                    <button class="submit_feedback">Submit</button>

              </ol>
            </form>
          </div>
        </div>
        <div class="img_feedback">
          <img src="feedback.png" alt="image" width="80%"/>
        </div>
      </div>
    </div>
    <div class="div-2_section6">
        <div class="div-10_section6">
          <div class="div-11_section6">
            <div class="column-5_section6">
              <div class="div-12_section6">
                <img
                  loading="lazy"
                  srcset="
                    https://cdn.builder.io/api/v1/image/assets/TEMP/71b5781def30e09059a0679d0ee339ea439e37538befc453b6300de59aac2488?apiKey=30447c5731e24690ba2b28b2e2481b13&width=100   100w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/71b5781def30e09059a0679d0ee339ea439e37538befc453b6300de59aac2488?apiKey=30447c5731e24690ba2b28b2e2481b13&width=200   200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/71b5781def30e09059a0679d0ee339ea439e37538befc453b6300de59aac2488?apiKey=30447c5731e24690ba2b28b2e2481b13&width=400   400w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/71b5781def30e09059a0679d0ee339ea439e37538befc453b6300de59aac2488?apiKey=30447c5731e24690ba2b28b2e2481b13&width=800   800w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/71b5781def30e09059a0679d0ee339ea439e37538befc453b6300de59aac2488?apiKey=30447c5731e24690ba2b28b2e2481b13&width=1200 1200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/71b5781def30e09059a0679d0ee339ea439e37538befc453b6300de59aac2488?apiKey=30447c5731e24690ba2b28b2e2481b13&width=1600 1600w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/71b5781def30e09059a0679d0ee339ea439e37538befc453b6300de59aac2488?apiKey=30447c5731e24690ba2b28b2e2481b13&width=2000 2000w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/71b5781def30e09059a0679d0ee339ea439e37538befc453b6300de59aac2488?apiKey=30447c5731e24690ba2b28b2e2481b13&
                  "
                  class="img-3_section6"
                />
                <div class="div-13_section6">
                  <div class="div-14_section6">copyright</div>
                  <div class="div-15_section6">&#169;</div>
                  <div class="div-16_section6">2020 | JANADHIKAR</div>
                </div>
              </div>
            </div>
            <div class="column-6_section6">
              <div class="div-17_section6">
                Privacy Policy
                <br />
                Do not sell my personal info
                <br />
                Terms of Service
                <br />
                janadhikar.com Site Map
              </div>
            </div>
            <div class="column-7_section6">
              <div class="div-18_section6">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/78bd15953bc8d7f9efd0f47142a63d2d8d753114773bd80a4f0b363405140fa8?apiKey=30447c5731e24690ba2b28b2e2481b13&"
                  class="img-4_section6"
                />
              </div>
            </div>
          </div>
        </div>
        </div>
  </body>
</html>